<h1>Affichage des planètes</h1>
<table>
  <thead>
    <th>Id</th>
    <th>Nom</th>
    <th>DateDecouverte</th>
  </thead>

  <tbody>
    <tr *ngFor="let planette of planettes">
      <td>{{ planette.id }}</td>
      <td>{{ planette.nom }}</td>
      <td>{{ planette.dateDecouverte| date:'dd/MM/yyyy' }}</td>
    </tr>
  </tbody>
</table>
